body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#formError {
  color: red;
}

#actionBar {
  padding: 8px;
  text-align: center;
}

#statusBar {
  font-weight: bold;
  text-align: center;
  border: silver solid 2px;
  padding: 8px;
  border-radius: 8px;
}